.movie-list {
  margin: 30px;

  .movie-item {
    padding-left: 20px;
    background-color: lightcoral;
    border-bottom: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .movie-item:hover {
    background-color: orange;
  }
}