<h1>Reactive Forms</h1>

<form [formGroup]="movieForm" (submit)="handleSubmit()">
  <fieldset>
    <label for="movie-name">Movie Name:</label>
    <input type="text" id="movie-name" formControlName="name">
  </fieldset>
  <fieldset>
    <label for="movie-duration">Movie duration:</label>
    <input type="number" id="movie-duration" formControlName="duration">
  </fieldset>
  <fieldset>
    <label for="movie-director">Movie director:</label>
    <input type="text" id="movie-director" formControlName="director">
  </fieldset>
  <button>Create Movie</button>
</form>
