<app-header></app-header>

<form [formGroup]="userForm">
  <fieldset>
    <label for="user-id">User id</label>
    <input type="text" id="user-id" formControlName="id">
  </fieldset>
  <fieldset>
    <label for="user-name">User Name</label>
    <input type="text" id="user-name" formControlName="name">
  </fieldset>
  <fieldset>
    <label for="email">User Email</label>
    <input type="text" id="email" formControlName="email">
  </fieldset>
</form>
<form [formGroup]="address">
  <fieldset>
    <label for="user-city">User city</label>
    <input type="text" id="user-city" formControlName="city">
  </fieldset>
  <fieldset>
    <label for="user-street">User street</label>
    <input type="text" id="user-street" formControlName="street">
  </fieldset>
</form>
<button (click)="postUser()">Crear Usuario</button>

